/* ANIMATIONS */
@keyframes letterAnimation {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -25px);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

h2 {
  font-size: 3rem;
  width: 100%;
}

span {
  display: inline-block;
}

span:hover {
  color: blue;
  animation: letterAnimation 0.4s ease-out;
}

button {
  color: white;
  background-color: cadetblue;
  border: none;
  font-size: 1.3rem;
  padding: 3vh 5vw;
}

/* CLASSES */
.wordWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: coral;
  width: 50vw;
  height: 50vh;
}

.buttonContainer {
  border: 1px solid white;
  margin: 50px 0;
}